@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400;1,600&display=swap");
.main-content-div {
  background-color: #d9d9d910;
  padding: 20px;
  border-radius: 20px;
  margin: 60px 20px;
}
.main-content-div .heading h3 {
  width: fit-content;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 40px;
  background: linear-gradient(90deg, #d1cdcd, #d1cdcd, #9a989865);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-content-div .about p {
  padding: 10px 0px;
  margin: 40px 0px;
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.main-content-div .footer .icon-image {
  width: 40px;
  margin: 30px 20px;
}

.main-content-div .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content-div .footer .download-cv button {
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  background: transparent;
}
.main-content-div .footer .download-cv span {
  background: linear-gradient(270deg, #0091ff 0%, #0091ff 65%, #0b5887 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}
.image-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-wrapper img {
  width: 300px;
}
/* Responsiveness */
@media (max-width: 992px) {
  .main-content-div .heading h3 {
    font-size: 35px;
  }

  .main-content-div .about p {
    font-size: 15px;
  }

  .main-content-div .footer .icon-image {
    width: 35px;
    margin: 25px 20px;
  }

  .main-content-div .footer .download-cv span {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .main-content-div .heading h3 {
    font-size: 30px;
  }

  .main-content-div .about p {
    font-size: 14px;
  }

  .main-content-div .footer .icon-image {
    width: 30px;
    margin: 20px 20px;
  }

  .main-content-div .footer .download-cv span {
    font-size: 19px;
  }
}

@media (max-width: 575px) {
  .main-content-div .heading h3 {
    font-size: 25px;
  }

  .main-content-div .about p {
    font-size: 13px;
  }

  .main-content-div .footer .icon-image {
    width: 27px;
    margin: 15px 16px;
  }

  .main-content-div .footer .download-cv span {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .main-content-div .footer .icon-image {
    width: 24px;
    margin: 10px 10px;
  }

  .main-content-div .footer .download-cv span {
    font-size: 12px;
  }
}

.image-wrapper img {
  animation: appear linear 1s;
  /* animation-timeline: view(); */
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
