@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&display=swap");
.navbar-row {
  background-image: linear-gradient(
    90deg,
    #00a2ff11,
    #8f00ff11,
    #4400b411,
    #005e9411
  );
  margin: 20px 15px;
  padding: 15px 0px;
  border-radius: 20px;
}
.navbar-row h5 {
  width: fit-content;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 24px;
  background: linear-gradient(270deg, #0091ff 0%, #0091ff 65%, #0b5887 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*   Responsiveness   */
@media (max-width: 992px) {
  .navbar-row h5 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .navbar-row h5 {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .navbar-row h5 {
    font-size: 12px;
  }
}
